<h1>
  Get current weather
</h1>
<p> <%= link_to "go to index", root_path %> </p>

<%= form_for @location do |f| %>
  <%= f.label :lat %>
  <%= f.text_field :lat %>
  </br>
  <%= f.label :lng %>
  <%= f.text_field :lng %>
  </br>
  <%= f.submit "find" %>
<% end %>

<hr>

<%- if @by_coords.present? %>
  <h1>Current weather by coords</h1>
  <pre><%= @by_coords %></pre>
<% end %>
