<h1>
  Get new weather
</h1>
<p> <%= link_to "go to index", root_path %> </p>

<%= form_tag( url: '/weather/current' ) do  %>

  <%= label_tag :lat %>
  <%= text_field_tag :lat %>
  </br>
  <%= label_tag :lng %>
  <%= text_field_tag :lng %>
  </br>
  <%= submit_tag "create new" %>

<% end %>