<p> <%= link_to "Back to list", action: 'index' %> </p>
</br>
<table style="width:100%">
  <tr>
    <td>Latitude</td>
    <td>Longitude</td> 
    <td>Address</td>
    <td>Actions</td>
  </tr>
  <%- @locations.each do |location| %>
    <tr>
      <td><%= location.lat %></td>
      <td><%= location.lng %></td> 
      <td><%= location.address %></td>
      <td>
        <%= link_to "Show", {action: 'show', id: location.id}, class: 'location_show' %>
        <%= link_to "Update", edit_location_path(location) %>
        <%= link_to "Delete", location_path(location), method: :delete, confirm: 'Are you sure?' %>
      </td>
    </tr>
  <% end %>
</table>