<h1>
  Edit location
</h1>
<% if @location_error.present? %>
<p><% @location_error %></p>
<% end %>
<p> <%= link_to "go to index", root_path %> </p>

<%= form_for @location do |f| %>

  <%= f.label :lat %>
  <%= f.text_field :lat %>
  </br>
  <%= f.label :lng %>
  <%= f.text_field :lng %>
  </br>
  <%= f.submit "update" %>

<% end %>