<%= link_to "Add new", new_location_path %>
</br>
<table style="width:100%">
  <tr>
    <td>Latitude</td>
    <td>Longitude</td> 
    <td>Address</td>
    <td>Actions</td>
  </tr>
  <%- @locations.each do |location| %>
    <tr>
      <td><%= location.lat %></td>
      <td><%= location.lng %></td> 
      <td><%= location.address %></td>
      <td>
        <%= link_to "Show", location_path(location) %>
        <%= link_to "Update", edit_location_path(location) %>
        <%= link_to "Delete", location_path(location),method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>